.canvas {
    border: 2px solid lightgray;
    width: 600px;
    height: 400px;
    background: transparent;
}
  
.rectangle {
    cursor: pointer;

    &:hover {
        stroke-opacity: 1;
    
        & + .marker {
            visibility: visible;
        }
    }
}